.loanpanel-card{
    height :180px;
    width:25%;
    text-align:center;
    border-radius:5%;
    padding:24px;
    background: #f5f6f8;
    transition: transform 0.3s ease;
}



.loanpenel-card:hover{
   
   transform: scale(1.05);
   background-color:white;
   box-shadow:2px 2px 10px blue;
}