.loan-card {
  background: #f5f6f8;
  border-radius: 16px;
  padding: 24px;
  height: 260px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.3s ease;
}

.loan-card:hover{
    transition: all 0.3s ease;
   transform: scale(1.05);
   background-color:white;
   box-shadow:2px 2px 10px blue;
}
.loan-title {
  font-weight: 700;
  font-size: 22px;
  min-height: 56px;
}

.loan-content {
  flex-grow: 1;
}

.loan-img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.loan-actions {
  margin-top: auto;
  display: flex;
  gap: 10px;
  
}

